@mixin base_dark {

  color: $fg-color-dark;
  background-color: $bg-color-dark;

  a {
    color: $link-color-dark;
    text-decoration: underline;
    text-decoration-thickness: 0.01em;
    text-decoration-color: rgba($link-color-dark, 0.4);
  }
  
  a.bio {
    text-decoration-style: wavy;
  }
  a.project {
    font-weight: 700;
  }
  a.project.sublink {
    font-weight: 500;
  }

  .navigation a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $alt-fg-color-dark;
  }

  code {
    background-color: $alt-bg-color-dark;
    color: $fg-color-dark;
  }

  pre {
    code {
      background-color: inherit;
      color: inherit;
    }
  }

  blockquote {
    border-left: 2px solid $alt-bg-color-dark;
  }

  table td, table th {
    border: 2px solid $alt-fg-color-dark;
  }

}

body.colorscheme-dark {
  @include base_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include base_dark()
  }
}